@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  background: #f5f5f5;
  color: #4d4d4d;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  color: #ead7d7;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
}

.todoapp {
  height: 65px;
  max-width: 550px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}

.new-todo {
  border: none;
  outline: none;
  margin-left: 35px;
  padding: 16px 16px 16px 28px;
  width: 515px;
  box-sizing: border-box;
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.07);
}


li:first-of-type {
  border-top: 1px solid #e6e6e6;
}

li {
  list-style: none;
  font-size: 24px;
  border-bottom: 1px solid #e6e6e6;
}

li div {
  height: 58px;
  width: 550px;
  background-color: #fff;
}

ul {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

main input[type=text] {
  max-height: 65px;
  max-width: 550px;
  font-size: 30px;
  color: #4d4d4d;
}

.checkbox {
  background-image: url('data:image/svg+xml;utf8,<svg%20xmlns%3D"http%3A//www.w3.org/2000/svg"%20width%3D"40"%20height%3D"40"%20viewBox%3D"-10%20-18%20100%20135"><circle%20cx%3D"50"%20cy%3D"50"%20r%3D"50"%20fill%3D"none"%20stroke%3D"%23ededed"%20stroke-width%3D"3"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  display: inline-block;
}

.checkbox.checked {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox-label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.value {
  transition: .3s linear;
}

.value.checked {
  color: #d9d9d9;
  text-decoration: line-through;
  transition: .3s linear;
}

.todo label {
  margin-left: 25px;
}

button {
  border: 0;
  background: none;
  color: #cc9a9a;
  font-size: 30px;
  padding-right: 10px;
  outline: none;
  visibility: hidden;
  transition: color 0.2s ease-out;
}

button:hover {
  color: #af5b5e;
  transition: color 0.2s ease-out;
}

button::after {
  content: '×';
}

.new-todo::placeholder {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #e6e6e6;
  font-size: 1em;
  font-style: italic;
}

.toggle-all {
  text-align: center;
  border: none;
  opacity: 0;
  position: absolute;
}

.toggle-all + label:before {
  content: '❯';
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
  transition: color 0.2s ease-out;

}

.toggle-all + label {
  width: 60px;
  height: 34px;
  font-size: 0;
  position: absolute;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 130px;
  margin-left: -7px;
  opacity: 0;
}

.toggle-all:checked + label:before {
  color: #4d4d4d;
  transition: color 0.2s ease-out;
}